body {
  margin: 0;
  background-color: #000;
  color: #fff; }

.container {
  margin: 10px;
  height: 2000px; }

.track {
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  margin-bottom: 5px; }
  .track > div {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px; }
  .track label {
    width: 15%;
    display: inline-block; }
  .track input[type=range] {
    width: 65%; }
  .track h3 {
    margin: 0; }
  .track h4 {
    margin: 0; }
  .track .addToSession {
    position: absolute;
    top: 30px;
    right: 10px; }
