* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-size: 14px;
}

html, document, body, .container {
    height: 100%;
}

button {
    border: 0;
    margin: 0;
}

input[type=text],
input[type=search] {
    border: 0;
    padding: 5px 10px;
    -webkit-appearance: none;
}

input[type=search]::-webkit-input-placeholder {
    color: #888;
}

.bgImage {
    background: url('../img/MountainBike.jpg') 0 0 no-repeat;
    background-size: 150% 100%;
    background-position: 0 40%;
    transition: background-position 0.5s ease;
    -webkit-transition: background-position 0.5s ease;
    -webkit-filter: blur(10px);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

.container {
    margin: 10px;
    position: relative;
    z-index: 1;
}

.track {
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    margin: 0 10px 5px 0;
    display: inline-block;
    color: #fff;
    text-shadow: 0px 0px 2px #000;
    width: 100%;

    >div {
        background-color: rgba(0, 0, 0, .5);
        padding: 10px;
    }

    .controls {

    }

    label {
        width: 15%;
        display: inline-block;
    }
    input[type=range] {
        width: 65%;
    }

    h3 {
        margin: 0;
    }

    h4 {
        margin: 0;
    }

    .addToSession {
        position: absolute;
        top: 30px;
        right: 10px;
    }

    .startTime, .endTime {
        display: none;
    }
}

.menu {
    button {
        color: #333;
        background-color: rgba(255,255,255,.5);
        padding: 10px 20px;
    }
    button.current {
        background-color: rgba(255,255,255,0.9);
    }
}

.createFlow {
    button {
        color: #333;
        background-color: rgba(255,255,0,.5);
        padding: 20px 40px;
    }
    button.current {
        background-color: rgba(255,255,0,.9);
    }
}

.search {
    height: 50%;

    form {
        input[type=search] {
            background-color: rgba(255,255,255,.9);
            color: #333;
            padding: 20px 4px;
            font-size: 120%;
            width: 100%;
        }
        label {
            display: none;
        }
    }

    .searchResult {
        background-color: rgba(200,200,200,.5);
        color: #333;
        padding: 5px;
        overflow-x: hidden;
        height: 80%;
    }
}

.session {
    height: 50%;

    background-color: rgba(220,255,200,.5);
    color: #333;
    padding: 5px;
    overflow-x: hidden;

    .spacer {
        height: 180px;
    }
}

.nextButton {
    padding: 20px 40px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}