<spin-menu></spin-menu>

<spin-create-flow></spin-create-flow>

<div class="search">
    <form ng-submit="doSearch()">
        <label for="query">Search:</label>
        <input type="search" id="query" ng-model="query" ng-change="doSearch()" placeholder="Track, artist, album, ...">
    </form>

    <div class="searchResult">
        <div ng-repeat="track in tracks"
             style="background-image:url({{track.image}})"
             class="track">
            <div>
                <h3>Name: {{track.name}}</h3>
                <h4>Artist: {{track.artists[0].name}}</h4>

                <div class="controls">
                    <button ng-click="Spotify.playTrack(track)">&gt;</button>
                    <button ng-click="Spotify.pauseTrack()">||</button>
                    <button ng-click="Spotify.stopTrack()">.</button>
                </div>

                <button ng-click="addTrack(track)" class="addToSession">+</button>
            </div>
        </div>
    </div>
</div>

<div class="session">
    <!--<input type="text" ng-model="session.title" placeholder="Session title">
    <h4>Length: {{session.length | date:'m:ss'}}</h4>
    <button ng-click="playSession()">Play session</button>-->

    <div ng-repeat="part in session.parts" class="track"
         style="background-image:url({{part.image}})">
        <div>
            <h3>{{part.song}}</h3>
            <h4>{{part.artist}}</h4>

            <div class="controls">
                <button ng-click="Spotify.playTrack(part.spotifyId, part.startTime, part.endTime)">&gt;</button>
                <button ng-click="Spotify.pauseTrack()">||</button>
                <button ng-click="Spotify.stopTrack()">.</button>
            </div>

            <button ng-click="removeTrack(part)" class="removeFromSession">-</button>
        </div>
    </div>

    <div class="spacer"></div>

</div>

<button class="nextButton"
        ng-click="navigateTo('/create/' + session.id +'/mix')"
        ng-show="session.parts.length > 0">
    Mix SpinList
</button>