<spin-menu></spin-menu>

<div class="search">
    <form ng-submit="doSearch()">
        <input type="search" ng-model="query" placeholder="Track, artist, album, ...">
        <button>Search</button>
    </form>

    <div ng-repeat="track in tracks"
         style="background-image:url({{track.image}})"
         class="track">
        <div>
            <h3>Name: {{track.name}}</h3>
            <h4>Artist: {{track.artists[0].name}}</h4>

            <div class="controls">
                <button ng-click="playTrack(track)">&gt;</button>
                <button ng-click="pauseTrack()">||</button>
                <button ng-click="stopTrack()">.</button>
            </div>

            <div class="startTime">
                <label for="startTime">Start:</label>
                <input type="range" ng-model="track.startTime" id="startTime" min="0" max="{{track.duration}}">
                {{track.startTime | date:'mm:ss'}}
            </div>
            <div class="endTime">
                <label for="endTime">End:</label>
                <input type="range" ng-model="track.endTime" id="endTime" min="0" max="{{track.duration}}">
                {{track.endTime | date:'mm:ss'}}
            </div>

            <button ng-click="addTrack(track)" class="addToSession">+</button>
        </div>
    </div>
</div>

<ul class="session">
    <li ng-repeat="clip in session">
        <h3>{{clip.track.name}}</h3>
        {{clip.track.artist}}
        <button ng-click="playTrack(clip.track)">Play</button>
        <button ng-click="stopPlaying(clip.track)">Stop</button>

        <div class="startTime">
            Start: {{clip.startTime}}
        </div>
        <div class="endTime">
            End: {{clip.endTime}}
        </div>
    </li>
</ul>

