<div class="bike"></div>

<div class="sessions">
    <ul style="width:{{sessions.length*210}}px">
        <li ng-repeat="session in sessions | filter:favorite=true"
            ng-click="play(session.id)">
            <div style="background-image:url({{session.image}})">
                <h3>{{session.title}}</h3>

                <p>{{session.length | date:'hh:mm'}}</p>
            </div>
        </li>
    </ul>
</div>

<a class="allSessions" ng-click="navigateTo('/find')">all...</a>

<div class="create">
    <button ng-click="navigateTo('/create')">Create New</button>
</div>
